%section.empty-bookmarks
  .empty-bookmarks__template
    %a.empty-bookmarks__user
      .empty-bookmarks__user-pic
        .avatar_wrapper
          %img.empty-bookmarks__user-img{ src: "images/userpic.png"}
      .empty-bookmarks__user-info
        .empty-bookmarks__user-name boris_bg
        .empty-bookmarks__date Today at 18:52