%section.empty-bookmarks
  .empty-bookmarks__template
    .empty-bookmarks__user
      .empty-bookmarks__user-pic
        .avatar_wrapper
          %img.empty-bookmarks__user-img{ src: "images/userpic.png"}
      .empty-bookmarks__user-info
        .empty-bookmarks__user-name boris_bg
        .empty-bookmarks__date Today at 18:52
    .empty-bookmarks__button
      add tag
    .empty-bookmarks__pic-link
      
  .empty-bookmarks__text
    %h2.empty-bookmarks__title
      You haven't bookmarked any notes yet
    %p.empty-bookmarks__desc
      Bookmark notes to get quick access to most important
      %br
      or most interesting ones
      
  