%section.empty-notes
  %h1.title-h1 Notes
  .tabs-menu
    %a.tabs-menu__item.active{href: "#"}
      %span.tabs-menu__text all notes
        %span.tabs-menu__quantity 2
    %a.tabs-menu__item{href: "#"}
      %span.tabs-menu__text my notes
        %span.tabs-menu__quantity 15
    %a.tabs-menu__item{href: "#"}
      %span.tabs-menu__text bookmarked
        %span.tabs-menu__quantity 378
  %section.empty-notes__main
    .empty-notes__types

      .empty-notes__box
        .empty-notes__inner-box
          .empty-notes__item.code
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><defs><style>.a{fill:#2d6483;opacity:0.07;}.b{fill:#112126;opacity:0.4;}</style></defs><title>Nots_28</title><path class="a" d="M24.01,28H3.99A3.99,3.99,0,0,1,0,24.01V7.981L7.981,0H24.01A3.99,3.99,0,0,1,28,3.99V24.01A3.99,3.99,0,0,1,24.01,28Z"/><path class="c" d="M0.133,24.989A3.988,3.988,0,0,0,4,28H24a3.988,3.988,0,0,0,3.867-3.011H0.133Z"/><path class="b" d="M10.639,19.457L6.139,14l4.5-5.457,1.543,1.271L8.73,14l3.451,4.186ZM21.861,14l-4.5-5.457L15.818,9.814,19.27,14l-3.451,4.186,1.543,1.271Z"/></svg>
            .empty-notes__quantity
        .empty-notes__text code note

      .empty-notes__box
        .empty-notes__inner-box
          .empty-notes__item.file
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><defs><style>.a{fill:#2d6483;opacity:0.07;}.b{fill:#112126;opacity:0.4;}</style></defs><title>Nots_28</title><path class="a" d="M24.01,28H3.99A3.99,3.99,0,0,1,0,24.01V7.981L7.981,0H24.01A3.99,3.99,0,0,1,28,3.99V24.01A3.99,3.99,0,0,1,24.01,28Z"/><path class="c" d="M0.133,24.989A3.988,3.988,0,0,0,4,28H24a3.988,3.988,0,0,0,3.867-3.011H0.133Z"/><path class="b" d="M16.435,7H8V21H20V10.565ZM10,19V9h5.021v2.979H18V19H10Z"/></svg>
          .empty-notes__quantity
            %span 6
        .empty-notes__text file note

      .empty-notes__box
        .empty-notes__inner-box
          .empty-notes__item.commit
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><defs><style>.a{fill:#2d6483;opacity:0.07;}.b{fill:#112126;opacity:0.4;}</style></defs><title>Nots_28</title><path class="a" d="M24.01,28H3.99A3.99,3.99,0,0,1,0,24.01V7.981L7.981,0H24.01A3.99,3.99,0,0,1,28,3.99V24.01A3.99,3.99,0,0,1,24.01,28Z"/><path class="c" d="M0.133,24.989A3.988,3.988,0,0,0,4,28H24a3.988,3.988,0,0,0,3.867-3.011H0.133Z"/><path class="b" d="M22,13H18.9a5,5,0,0,0-9.8,0H6v2H9.1a5,5,0,0,0,9.8,0H22V13Zm-8,4a3,3,0,1,1,3-3A3,3,0,0,1,14,17Z"/></svg>
          .empty-notes__quantity
            %span 38
        .empty-notes__text commit note

      .empty-notes__box
        .empty-notes__inner-box
          .empty-notes__item.private
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><defs><style>.a{fill:#2d6483;opacity:0.07;}.b{fill:#112126;opacity:0.4;}</style></defs><title>Nots_28</title><path class="a" d="M24.01,28H3.99A3.99,3.99,0,0,1,0,24.01V7.981L7.981,0H24.01A3.99,3.99,0,0,1,28,3.99V24.01A3.99,3.99,0,0,1,24.01,28Z"/><path class="c" d="M0.133,24.989A3.988,3.988,0,0,0,4,28H24a3.988,3.988,0,0,0,3.867-3.011H0.133Z"/><path class="b" d="M10.639,19.457L6.139,14l4.5-5.457,1.543,1.271L8.73,14l3.451,4.186ZM21.861,14l-4.5-5.457L15.818,9.814,19.27,14l-3.451,4.186,1.543,1.271Z"/></svg>
          .empty-notes__quantity
            %span P
        .empty-notes__text private note

      .empty-notes__box
        .empty-notes__inner-box
          .empty-notes__item.branch
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><defs><style>.a{fill:#2d6483;opacity:0.07;}.b{fill:#112126;opacity:0.4;}</style></defs><title>Nots_28</title><path class="a" d="M24.01,28H3.99A3.99,3.99,0,0,1,0,24.01V7.981L7.981,0H24.01A3.99,3.99,0,0,1,28,3.99V24.01A3.99,3.99,0,0,1,24.01,28Z"/><path class="c" d="M0.133,24.989A3.988,3.988,0,0,0,4,28H24a3.988,3.988,0,0,0,3.867-3.011H0.133Z"/><path class="b" d="M21.11,8.716a2.5,2.5,0,1,0-3.94,2.038,6.777,6.777,0,0,1-3.158,2.682,15.624,15.624,0,0,0-1.991,1.239V11a2.5,2.5,0,1,0-2,0v9.939h2V18.6c0-1.7,1.068-2.369,2.957-3.411,1.567-.865,3.422-1.893,4.226-4.049A2.5,2.5,0,0,0,21.11,8.716Z"/></svg>
          .empty-notes__quantity
            %span 6
        .empty-notes__text branch note


    .empty-notes__title You don't have any notes yet
    .empty-notes__desc
      %span Notes are the core of our service. You can add notes to code, files, commits or branches.
      %span All notes made are visible to your teammates, and you can create private notes
      %span (visible to you only) as well.