%section.empty-tagged
  %h1.title-h1 Tagged
  .empty-tagged__content
    .empty-tagged__tags
      .empty-tagged__tag.tabs-name.colors-border--4 details needed
      .empty-tagged__tag.tabs-name.colors-border--7 awesome
      .empty-tagged__tag.tabs-name.colors-border--8 remember me later
      .empty-tagged__tag.tabs-name.colors-border--6 approved
      .empty-tagged__tag.tabs-name.colors-border--2 beta
      .empty-tagged__tag.tabs-name.colors-border--1 wtf
    .empty-tagged__text
      %h2.empty-tagged__title
        No messages with tags in this project
      %p.empty-tagged__desc
        Tags are simple and powerful way to manage piles of notes in your projects.
        %br
        Use tags to group notes the way you like.