%section.empty-mentions
  %h1.title-h1 Mentions
  %section.empty-mentions__main
    .empty-mentions__suggest
      %span Best of all I like
      %.user__inline
        %.user__inline-pic
          %img{src:"images/userpic.png", alt:""}
        %span.user__inline-name Boris_BG
      %span album "The Day of Silver"

    .empty-mentions__title You haven't been mentioned yet in his project
    .empty-mentions__desc
      %span To mention someone you have to type @username
      %span in note description or in comment.