%section.empty-timeline
  %h1.title-h1 Timeline
  .empty-timeline__content
    .empty-timeline__pic
    .empty-timeline__text
      %h2.empty-timeline__title
        No activity yet
      %p.empty-timeline__desc
        Here we gather all activity in project. All new notes, comments and messages
        %br
        will be displayed in this section.