%section.empty-docs
  %h1.title-h1 Docs
  .empty-docs__content
    .empty-docs__pic
    .empty-docs__text
      %h2.empty-docs__title
        No attached documents in this project
      %p.empty-docs__desc
        You can attach files to project here.
        %br
        Also all attachments in notes will be displayed here.
    %button.empty-docs__button.orange
      Add files