%section.empty-history
  .empty-history__pic
  .empty-history__text
    %h2.empty-history__title
      No history yet
    %p.empty-history__desc
      Here you can find changes in files and old old notes as well.