%section.empty-branches
  .empty-branches__pic
    
  .empty-branches__text
    %h2.empty-branches__title
      No attached documents in this projects
    %p.empty-branches__desc
      You can attach files to project here.
      %br
      Also all attachments in notes will be displayed here.