%section.empty-tags
  %h1.title-h1 Tags
  .empty-tags__content
    .empty-tags__tags
      .empty-tags__tag.tabs-name.colors-border--4 details needed
      .empty-tags__tag.tabs-name.colors-border--7 awesome
      .empty-tags__tag.tabs-name.colors-border--8 remember me later
      .empty-tags__tag.tabs-name.colors-border--6 approved
      .empty-tags__tag.tabs-name.colors-border--2 beta
      .empty-tags__tag.tabs-name.colors-border--1 wtf
    .empty-tags__text
      %h2.empty-tags__title
        You have no tags yet
      %p.empty-tags__desc
        Tags are simple and powerful way to manage piles of notes in your projects.
        %br
        Use tags to group notes the way you like.
    .empty-tags__button
      %button.icon_button.white
      .empty-tags__button-desc Create my first tag