%section.dialogues
  .dialogues__container
    .dialogues__info
      %h2.dialogues__title.title-h2 Add people to project
      .dialogues__pick-people
        .dialogues__user-select
          .user__select
            %span
              @User
              .user__inline
                .user__inline-pic
                  %img{src:"images/userpic.png", alt:""}
                %span.user__inline-name Alex-dp
              %input.user__select-input{type:'text'}
            .autosuggest
              .autosuggest__user.active
                .autosuggest__user-pic
                  %img{src:"images/userpic.png", alt:""}
                %span.autosuggest__user-name alex-dp
            
              .autosuggest__user
                .autosuggest__user-pic
                  %img{src:"images/userpic.png", alt:""}
                %span.autosuggest__user-name valdemar
            
              .autosuggest__user
                .autosuggest__user-pic
                  %img{src:"images/userpic.png", alt:""}
                %span.autosuggest__user-name borusik
            
              .autosuggest__user
                .autosuggest__user-pic
                  %img{src:"images/userpic.png", alt:""}
                %span.autosuggest__user-name zo-zo
        .dialogues__user-desc Comma separated list of @User or e-mail address
  
    .dialogues__btn
      %button.dialogues__add-people.orange_filled Add people
      %button.dialogues__cancel-people.transparent Cancel
  
  .dialogues__container.dialogues__container--center
    .dialogues__delete
      %h2.dialogues__title.dialogues__title--img.title-h2 This is piece of shid not a code
      
    .dialogues__delete-btn
      %button.dialogues__delete.orange_filled Delete
      %button.dialogues__delete-cancel.transparent Cancel