.tabs-menu
  %a.tabs-menu__item.active{href: "#"}
    %span.tabs-menu__text notes
  %a.tabs-menu__item{href: "#"}
    %span.tabs-menu__text projects
  %a.tabs-menu__item{href: "#"}
    %span.tabs-menu__text people
  %a.tabs-menu__item{href: "#"}
    %span.tabs-menu__text branches and commits
  %a.tabs-menu__item{href: "#"}
    %span.tabs-menu__text files and code
  %a.tabs-menu__item{href: "#"}
    %span.tabs-menu__text direct messages