.add-tag
  .add-tag__wrapper.add-tag__wrapper--input
    .add-tag__input-field
      %input.add-tag__input.tabs-name.tabs-name--input.tabs-name--color-1(type="text")
    .add-tag__colors
      %ul.add-tag__colors-list
        %li.add-tag__colors-item.add-tag__colors-item--1.add-tag__colors-item--selected
        %li.add-tag__colors-item.add-tag__colors-item--2
        %li.add-tag__colors-item.add-tag__colors-item--3
        %li.add-tag__colors-item.add-tag__colors-item--4
        %li.add-tag__colors-item.add-tag__colors-item--5
        %li.add-tag__colors-item.add-tag__colors-item--6
        %li.add-tag__colors-item.add-tag__colors-item--7
        %li.add-tag__colors-item.add-tag__colors-item--8
        %li.add-tag__colors-item.add-tag__colors-item--9
          
  .add-tag__wrapper.add-tag__wrapper--button
    %button.add-tag__button-add.orange_filled add tag
    %button.add-tag__button-cancel.transparent cancel