.add-tag
  .add-tag__wrapper.add-tag__wrapper--input
    .add-tag__input-field
      %input.add-tag__input.tabs-name.tabs-name--input.colors-border--1(type="text")
    .add-tag__colors
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--1', checked:'checked'}
        .add-tag__bg.colors-bg--1
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--2'}
        .add-tag__bg.colors-bg--2
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--3'}
        .add-tag__bg.colors-bg--3
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--4'}
        .add-tag__bg.colors-bg--4
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--5'}
        .add-tag__bg.colors-bg--5
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--6'}
        .add-tag__bg.colors-bg--6
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--7'}
        .add-tag__bg.colors-bg--7
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--8'}
        .add-tag__bg.colors-bg--8
      %label.add-tag__label
        %input.add-tag__radio{type:'radio', name:'add-tag-colors', value:'colors-bg--9'}
        .add-tag__bg.colors-bg--9
          
  .add-tag__wrapper.add-tag__wrapper--button
    %button.add-tag__button-add.orange_filled add tag
    %button.add-tag__button-cancel.transparent cancel