.add-tag
  .add-tag__wrapper.add-tag__wrapper--input
    .add-tag__input-field
      %input.add-tag__input.tabs-name.tabs-name--input.colors-border--1(type="text")
    .add-tag__colors
      %ul.add-tag__colors-list
        %li.add-tag__colors-item.colors-bg--1.add-tag__colors-item--selected
        %li.add-tag__colors-item.colors-bg--2
        %li.add-tag__colors-item.colors-bg--3
        %li.add-tag__colors-item.colors-bg--4
        %li.add-tag__colors-item.colors-bg--5
        %li.add-tag__colors-item.colors-bg--6
        %li.add-tag__colors-item.colors-bg--7
        %li.add-tag__colors-item.colors-bg--8
        %li.add-tag__colors-item.colors-bg--9
          
  .add-tag__wrapper.add-tag__wrapper--button
    %button.add-tag__button-add.orange_filled add tag
    %button.add-tag__button-cancel.transparent cancel