%section.branches
  .title-h1 Branches
  %section.branches__container
    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name Experimental 2
      .branches__add-note
        %span add note


    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2
      .branches__add-note
        %span add note

    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name E
      .branches__add-note
        %span add note