%section.branches-note
  .branches-note__menu
    %button.icon_button.grey.btn-arrow
    .branches-note__title
      %h1.title-h1 Experimental
      .branches-note__title-date Nov 25, 2015 at 18:52
    %button.orange.btn-long{href: "#"}add note to branch
  .branches-note__wrapper.bookmarked
    .branches-note__header
      .branches-note__icon
      .branches-note__user
        .branches-note__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .branches-note__info
          .branches-note__info_name
            %span borja
          .branches-note__info_date
            %span today 12:49
      .branches-note__tags
        .tabs-name.colors-border--1 WTF
        .branches-note__add-tag
      .branches-note__link
    .branches-note__main
      .branches-note__main-title
        %span.branches-note__note-title Experimental function description
        %span.branches-note__fresh-rate.fr_1 78%
      .branches-note__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %button.orange{href: "#"}add comment
