%section.branches
  .title-h1 Branches
  %section.branches__container
    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name Experimental 2
      .users-list.hide
        .users-list__button 99
        .users-list__container-wrapper
          .users-list__container
            %ul.users-list__wrapper
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
            .users-list__counter 1
      .branches__add-note
        %span add note


    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2 Experimental 2
      .users-list.hide
        .users-list__button 99
        .users-list__container-wrapper
          .users-list__container
            %ul.users-list__wrapper
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
            .users-list__counter 1
      .branches__add-note
        %span add note

    .branches__item
      .branches__date
        %span Dec 2, 2016
        %span 10:06
      .branches__main
        .branches__name Ex
      .users-list.hide
        .users-list__button 99
        .users-list__container-wrapper
          .users-list__container
            %ul.users-list__wrapper
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
              %li.users-list__item
                .users-list__link
                  .avatar_wrapper
                    %img.users-list__img{src:'images/userpic.png', alt:''}
            .users-list__counter 1
      .branches__add-note
        %span add note