%section.commits
  %h1.title-h1 Commits

  .commits__box
    .commits__header
      .branch-select__container
        .branch-select__title branch
        .branch-select
          .branch-select__main
            %span Experimental
          %ul.branch-select__list.hidden
            %li.branch-select__item
              %span Experimental2
            %li.branch-select__item
              %span Experimental2Experimental2Experimental2
            %li.branch-select__item
              %span Experimental2
      .commits__header-right
        %label.tag-check
          %input.tag-check__input{type:'checkbox', name:'tag-name'}
          .tag-check__use
        %span.commits__notes-only With notes only

    .list
      .list__item
        .commits__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .commits__info
          .commits__info_name
            %span borja
          .commits__info_date
            %span 18:52
        .list__text
          %span You Suck
        .users-list.users-list.hide
          .users-list__button 99
          .users-list__container-wrapper
            .users-list__container
              %ul.users-list__wrapper
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
              .users-list__counter 1

      .list__item
        .commits__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .commits__info
          .commits__info_name
            %span borja
          .commits__info_date
            %span 18:52
        .list__text
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .users-list.users-list.hide
          .users-list__button 99
          .users-list__container-wrapper
            .users-list__container
              %ul.users-list__wrapper
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
              .users-list__counter 1

      .list__item
        .commits__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .commits__info
          .commits__info_name
            %span borja
          .commits__info_date
            %span 18:52
        .list__text
          %span You Suck
        .users-list.users-list.hide
          .users-list__button 99
          .users-list__container-wrapper
            .users-list__container
              %ul.users-list__wrapper
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
              .users-list__counter 1

      .list__item
        .commits__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .commits__info
          .commits__info_name
            %span borja
          .commits__info_date
            %span 18:52
        .list__text
          %span You Suck
        .users-list.users-list.hide
          .users-list__button 99
          .users-list__container-wrapper
            .users-list__container
              %ul.users-list__wrapper
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
              .users-list__counter 1

      .list__item
        .commits__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .commits__info
          .commits__info_name
            %span borja
          .commits__info_date
            %span 18:52
        .list__text
          %span You Suck
        .users-list.users-list.hide
          .users-list__button 99
          .users-list__container-wrapper
            .users-list__container
              %ul.users-list__wrapper
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
                %li.users-list__item
                  .users-list__link
                    .avatar_wrapper
                      %img.users-list__img{src:'images/userpic.png', alt:''}
              .users-list__counter 1
