%section.direct
  %h1.direct__title Direct messages
  .tabs-menu
    %a.tabs-menu__item.active{href: "#"}inbox
    %a.tabs-menu__item{href: "#"}sent
    %button.orange{href: "#"}compose

  %section.messages
    .messages__date
      %span Today
    .list
      .message.list__item.unread
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span You Suck
          .message-counter
            %span 1
        %button.list__delete

      .message.list__item.unread
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Submodule: improve documentation
          .message-counter
            %span 25
        %button.list__delete

      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .message-counter
            %span 25
        %button.list__delete

      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Submodule: improve documentation
          .message-counter
            %span 136
        %button.list__delete

  %section.messages
    .messages__date
      %span yesterday
    .list
      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Submodule: improve documentation
          .message-counter
            %span 136
        %button.list__delete

  %section.messages
    .messages__date
      %span Today
    .list
      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span You Suck
          .message-counter
            %span 1
        %button.list__delete

      .message.list__item.unread
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Submodule: improve documentation
          .message-counter
            %span 25
        %button.list__delete

      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .message-counter
            %span 25
        %button.list__delete

      .message.list__item
        .message__avatar.list__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .list__info.message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .list__text.message__text
          %span Submodule: improve documentation
          .message-counter
            %span 136
        %button.list__delete