%section.docs-list
  .docs-list__header
    %h1.title-h1 Docs
    %button.icon_button.button-list


  %button.orange{href: "#"}add files
  %section.messages
    .messages__date
      %span Today
    .messages__main
      .message.unread
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .message__text
          %span You Suck
          .message-counter
            %span 1
        %button.message__delete

      .message.unread
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borusik
          .message__info_date
            %span 18:52
        .message__text
          %span Submodule: improve documentation
          .message-counter
            %span 15
        %button.message__delete

      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          %.message__info_name
            %span loooong
          %.message__info_date
            %span 18:52
        .message__text
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .message-counter
            %span 237
        %button.message__delete

      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .message__text
          %span You Suck
          .message-counter
            %span 1
        %button.message__delete

  %section.messages
    .messages__date
      %span yesterday
    .messages__main
      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borja
          .message__info_date
            %span yesterday
        .message__text
          %span You Suck
          .message-counter
            %span 1
        %button.message__delete

  %section.messages
    .messages__date
      %span Today
    .messages__main
      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .message__text
          %span You Suck
          .message-counter
            %span 1
        %button.message__delete

      .message.unread
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borusik
          .message__info_date
            %span 18:52
        .message__text
          %span Submodule: improve documentation
          .message-counter
            %span 15
        %button.message__delete

      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span loooong
          .message__info_date
            %span 18:52
        .message__text
          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .message-counter
            %span 237
        %button.message__delete

      .message
        .message__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        .message__info
          .message__info_name
            %span borja
          .message__info_date
            %span 18:52
        .message__text
          %span You Suck
          .message-counter
            %span 1
        %button.message__delete