%section.docs-list
  .docs-list__menu
    %h1.title-h1 Docs
    %button.button-list.icon_button.grey.active
    %button.button-tile.icon_button.grey
  .docs-list__main
    .docs-list__header
      %span.docs-list__doc-quantity 6 documents in project
      %button.orange{href: "#"}add files

  %section.docs-list__container.list

    .docs-list__row-head
      .docs-list__doc
        %span name
      .docs-list__avatar
        %span owner
      .docs-list__upload
        %span uploaded
      .docs-list__notes
        %span notes

    .docs-list__row.list__item
      .docs-list__doc
        %span.docs-list__doc-name Techspec Techspec Techspec
        %span.doc-ext.docx docx
      .docs-list__avatar
        %a{href: "#"}
          .avatar_wrapper
            %img{ src: "images/userpic.png"}
      .docs-list__upload
        %span.docs-list__upload-date Nov 21, 2016
        %span.docs-list__upload-date 22:55
      .docs-list__notes
        %button.docs-list__delete
        %button.docs-list__download
        %span.docs-list__attached

    .docs-list__row.list__item
      .docs-list__doc
        %span.docs-list__doc-name TechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspecTechspec
        %span.doc-ext.pdf pdf
      .docs-list__avatar
        %a{href: "#"}
          .avatar_wrapper
            %img{ src: "images/userpic.png"}
      .docs-list__upload
        %span.docs-list__upload-date Nov 21, 2016
        %span.docs-list__upload-date 22:55
      .docs-list__notes
        %button.docs-list__delete
        %button.docs-list__download
        %span.docs-list__attached.code

    .docs-list__row.list__item
      .docs-list__doc
        %span.docs-list__doc-name Key-revenue
        %span.doc-ext.xls xls
      .docs-list__avatar
        %a{href: "#"}
          .avatar_wrapper
            %img{ src: "images/userpic.png"}
      .docs-list__upload
        %span.docs-list__upload-date Nov 21, 2016
        %span.docs-list__upload-date 22:55
      .docs-list__notes
        %button.docs-list__delete
        %button.docs-list__download
        %span.docs-list__attached.file

    .docs-list__row.list__item
      .docs-list__doc
        %span.docs-list__doc-name TechspecTechspec
        %span.doc-ext.docx docx
      .docs-list__avatar
        %a{href: "#"}
          .avatar_wrapper
            %img{ src: "images/userpic.png"}
      .docs-list__upload
        %span.docs-list__upload-date Nov 21, 2016
        %span.docs-list__upload-date 22:55
      .docs-list__notes
        %button.docs-list__delete
        %button.docs-list__download
        %span.docs-list__attached.branch

    .docs-list__row.list__item
      .docs-list__doc
        %span.docs-list__doc-name TechspecTechspec
        %span.doc-ext.docx docx
      .docs-list__avatar
        %a{href: "#"}
          .avatar_wrapper
            %img{ src: "images/userpic.png"}
      .docs-list__upload
        %span.docs-list__upload-date Nov 21, 2016
        %span.docs-list__upload-date 22:55
      .docs-list__notes
        %button.docs-list__delete
        %button.docs-list__download
        %span.docs-list__attached.commit