%section.docs-tile
  .docs-tile__menu
    %h1.title-h1 Docs
    %button.button-list.icon_button.grey
    %button.button-tile.icon_button.grey.active
  .docs-tile__main
    .docs-tile__header
      %span.docs-tile__doc-quantity 6 documents in project
      %button.orange{href: "#"}add files

  %section.docs-tile__container
    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.docx docx
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.pdf pdf
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached.code

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.xls xls
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached.file

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.docx docx
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached.branch

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.docx docx
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached.commit

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.docx docx
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached

    .docs-tile__item
      %img.docs-tile__preview{src:"images/preview.png", alt:" "}
      %span.doc-ext.docx docx
      .docs-tile__upload
        %span.docs-tile__doc-name Techspec
        %span.docs-tile__upload-date Nov 21, 2016
        %span.docs-tile__upload-date 22:55
      .docs-tile__notes
        %button.docs-tile__delete
        %button.docs-tile__download
        %span.docs-tile__attached