.index-page-pages
  %h1 PAGES:
  .index-page-pages__wrapper
    %h2 Direct messages
    %a{href:"http://localhost:3010/direct-messages.html"} direct-messages
    %a{href:"http://localhost:3010/direct-messages-opened-states.html"} direct-messages-opened-states
    %a{href:"http://localhost:3010/direct-messages-new.html"} direct-messages-new
  .index-page-pages__wrapper
    %h2{style:"font-size: 24px; color: #fff; margin: 15px 0 5px"} Tags
    %a{href:"http://localhost:3010/tag-inside.html"} tag-inside
    %a{href:"http://localhost:3010/add-tag.html"} add-tag
    %a{href:"http://localhost:3010/tags.html"} tags
  
  .index-page-pages__wrapper
    %h2 Search
    %a{href:"http://localhost:3010/search.html"} search
    %a{href:"http://localhost:3010/search-notes.html"} search-notes
    %a{href:"http://localhost:3010/search-projects.html"} search-projects
    %a{href:"http://localhost:3010/search-people.html"} search-people
    %a{href:"http://localhost:3010/search-branch-commits.html"} branches-commits
    %a{href:"http://localhost:3010/search-files-code.html"} search-files-code
    %a{href:"http://localhost:3010/search-direct-messages.html"} search-direct-messages
  
  .index-page-pages__wrapper
    %h2{style:"font-size: 24px; color: #fff; margin: 15px 0 5px"} Site components
    %a{href:"http://localhost:3010/site-components.html"} site-components
  
  .index-page-pages__wrapper
    %h2{style:"font-size: 24px; color: #fff; margin: 15px 0 5px"} Modules
    %a{href:"http://localhost:3010/userselect.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} user-select
    %a{href:"http://localhost:3010/projects-dropdown.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} projects-dropdown
  
  .index-page-pages__wrapper
    %h2{style:"font-size: 24px; color: #fff; margin: 15px 0 5px"} Empty states
    %a{href:"http://localhost:3010/bookmarks.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} bookmarks