.pages{style:"display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: flex-start;"}
  %h2{style:"color: #fff; opacity: 0.7; line-height: 2; margin-bottom: 10px"} PAGES:
  %a{href:"http://localhost:3010/direct-messages.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} direct-messages
  %a{href:"http://localhost:3010/direct-messages-opened-states.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} direct-messages-opened-states
  %a{href:"http://localhost:3010/direct-messages-new.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255,16);color: #000;"} direct-messages-new
  %a{href:"http://localhost:3010/userselect.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} user-select
  %a{href:"http://localhost:3010/tag-inside.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} tag-inside
  %a{href:"http://localhost:3010/add-tag.html", style:"display: inline-block; text-transform: uppercase; margin-bottom: 10px; padding: 10px 30px; background-color: rgba(255, 255, 255, 1); color: #000;"} add-tag
  %a{href:"http://localhost:3010/tags.html",style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} tags
  %a{href:"http://localhost:3010/projects-dropdown.html", style:"display: inline-block;text-transform: uppercase;margin-bottom: 10px;padding: 10px 30px;background-color: rgba(255, 255, 255, 1);color: #000;"} projects-dropdown
  %a{href:"http://localhost:3010/site-components.html", style:"display: inline-block; text-transform: uppercase; margin-bottom: 10px; padding: 10px 30px; background-color: rgba(255, 255, 255, 1); color: #000;"} site-components
