.index-page-pages
  %h1 PAGES:
  .index-page-pages__wrapper
    %h2 Direct messages
    %a{href:"http://localhost:3010/direct-messages.html"} direct-messages
    %a{href:"http://localhost:3010/direct-messages-opened-states.html"} direct-messages-opened-states
    %a{href:"http://localhost:3010/direct-messages-new.html"} direct-messages-new
  .index-page-pages__wrapper
    %h2{style:"font-size: 24px; color: #fff; margin: 15px 0 5px"} Tags
    %a{href:"http://localhost:3010/tag-inside.html"} tag-inside
    %a{href:"http://localhost:3010/add-tag.html"} add-tag
    %a{href:"http://localhost:3010/tags.html"} tags
  
  .index-page-pages__wrapper
    %h2 Search
    %a{href:"http://localhost:3010/search.html"} search
    %a{href:"http://localhost:3010/search-notes.html"} search-notes
    %a{href:"http://localhost:3010/search-projects.html"} search-projects
    %a{href:"http://localhost:3010/search-people.html"} search-people
    %a{href:"http://localhost:3010/search-branch-commits.html"} branches-commits
    %a{href:"http://localhost:3010/search-files-code.html"} search-files-code
    %a{href:"http://localhost:3010/search-direct-messages.html"} search-direct-messages
  
  .index-page-pages__wrapper
    %h2 Site components
    %a{href:"http://localhost:3010/site-components.html"} site-components
    %a{href:"http://localhost:3010/create-project.html"} create-project
  
  .index-page-pages__wrapper
    %h2 Modules
    %a{href:"http://localhost:3010/userselect.html"} user-select
    %a{href:"http://localhost:3010/projects-dropdown.html"} projects-dropdown
  
  .index-page-pages__wrapper
    %h2 Empty states
    %a{href:"http://localhost:3010/bookmarks.html"} bookmarks
    %a{href:"http://localhost:3010/empty-branches.html"} branches
    %a{href:"http://localhost:3010/empty-commits.html"} commits
    %a{href:"http://localhost:3010/empty-code.html"} code
    %a{href:"http://localhost:3010/empty-docs.html"} docs
    %a{href:"http://localhost:3010/empty-mentions.html"} mentions
    %a{href:"http://localhost:3010/empty-notes.html"} notes
    %a{href:"http://localhost:3010/empty-project-mentions.html"} project-mentions
    %a{href:"http://localhost:3010/empty-tagged.html"} tagged
    %a{href:"http://localhost:3010/empty-tags.html"} tags
    %a{href:"http://localhost:3010/empty-timeline.html"} timeline
    %a{href:"http://localhost:3010/empty-history.html"} history

  .index-page-pages__wrapper
    %h2 Branches
    %a{href:"http://localhost:3010/branches.html"} Branches

  .index-page-pages__wrapper
    %h2 Commits
    %a{href:"http://localhost:3010/commits-step1.html"} commits-step1
    
  .index-page-pages__wrapper
    %h2 Dialogues
    %a{href:"http://localhost:3010/dialogue-add-tag.html"} dialogue-add-tag
    %a{href:"http://localhost:3010/dialogues.html"} Bdialogues
  
  .index-page-pages__wrapper
    %h2 Start
    %a{href:"http://localhost:3010/start-page.html"} start page
  
  .index-page-pages__wrapper
    %h2 Add files
    %a{href:"http://localhost:3010/start-page.html"} add file
    %a{href:"http://localhost:3010/start-page.html"} add image
    