%section.project
  .project__container
    .project__pic
      %img.proj-pic{src:"images/codepen_icon.png"}
    .project__color.colors-bg--6
    .project__type.public Public
    .project__main
      .project__title Codepen icons
      .project__description
        %p There were ample provisions on board, and the cargo was intact.
        %p None of those who had.
    .project__info
      .project__fresh-percent
        %span.project__info-title fresh rate
        %span.project__info-value 60%
      .project__notes
        %span.project__info-title  notes
        %span.project__info-value 126
      %ul.project__users
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li
          %button.icon_button.add-user_button
    .project__footer
      %button.orange_filled edit project info
      %button.project__delete remove project

%section.project-card
  .project-card__header
    .card__title New function description
      .card__fresh.fr_1 78%
        .card__fresh-text Fresh rate
    .project-card__header-info
      %a.user-info{href:'#'}
        .user-info__photo.avatar_wrapper
          %img.user-info__img{src:'images/userpic.jpg', alt:'pic'}
        .user-info__data
          .user-info__name
            Borja
      .project-card__header-text Changed code associated with note. November 27, 2015
  .project-card__main
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .project-card__footer
    %button.orange_filled edit note
    %button.blue note is ok


