%section.project
  .project__container
    .project__pic
      %img.proj-pic{src:"images/codepen_icon.png"}
    .project__color.colors-bg--6
    .project__type.public Public
    .project__main
      .project__title Codepen icons
      .project__description
        %p There were ample provisions on board, and the cargo was intact.
        %p None of those who had.
    .project__info
      .project__fresh-percent
        %span.project__info-title fresh rate
        %span.project__info-value 60%
      .project__notes
        %span.project__info-title  notes
        %span.project__info-value 126
      %ul.project__users
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li
          %button.icon_button.add-user_button
    .flex-container
      .arrow-right__container
        .arrow-right__inner
          .arrow-right__text TO CONTEXT
        .arrow-right__arrow
    .flex-container
      .arrow-r__container
        .arrow-r__inner
          .arrow-r__text TO CONTEXT
        .arrow-r__arrow
    .project__footer
      %button.orange_filled edit project info
      %button.project__delete remove project


  .project__container.
    .bookmark
      .bookmark-orange.marked
    .project__main
      .project__title Codepen icons
      .project__description
        %p There were ample provisions on board, and the cargo was intact.
        %p None of those who had.
    .project__info
      .project__fresh-percent
        %span.project__info-title fresh rate
        %span.project__info-value 60%
      .project__notes
        %span.project__info-title  notes
        %span.project__info-value 126

