.projects-dropdown__container
  .projects-dropdown
    .projects-dropdown__title
      .projects-dropdown__pic
      %span all projects
    %ul.projects-dropdown__list.hidden
      %li.projects-dropdown__item
        .projects-dropdown__pic
          %img{src: "images/codepen_icon.png"}
        %span codepen
      %li.projects-dropdown__item
        .projects-dropdown__pic
          %img{src: "images/codepen_icon.png"}
        %span novo objectus pipka
      %li.projects-dropdown__item
        .projects-dropdown__pic
          %img{src: "images/codepen_icon.png"}
        %span react