%section.project
  .project__container
    .project__pic
      %img.proj-pic{src:"images/codepen_icon.png"}
    .project__color.colors-bg--6
    .project__type.public Public
    .project__main
      .project__title Codepen icons
      .project__description
        %p There were ample provisions on board, and the cargo was intact.
        %p None of those who had.
    .project__info
      .project__fresh-percent
        %span.project__info-title fresh rate
        %span
          %span.project__info-value 60
          %span.project__info-percent %
      .project__notes
        %span.project__info-title  notes
        %span.project__info-value 126
      %ul.project__users
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li.project__avatar
          %a{href: "#"}
            .avatar_wrapper
              %img{ src: "images/userpic.png"}
        %li
          %button.icon_button.add-user_button
    .project__footer
      %button.orange_filled edit project info
      %button.project__delete remove project

%h1.project-card__title Most outdated
%section.project-card
  .project-card__header
    .card__title New function description
      .card__fresh.fr_1 78%
        .card__fresh-text Fresh rate
    .project-card__header-info
      %a.user-info{href:'#'}
        .user-info__photo.avatar_wrapper
          %img.user-info__img{src:'images/userpic.jpg', alt:'pic'}
        .user-info__data
          .user-info__name
            Borja
      .project-card__header-text Changed code associated with note. November 27, 2015
  .project-card__main
    .paths
      .paths__wrapper
        .paths__item.paths__item--branch master
      .paths__wrapper
        .paths__item.paths__item--commit commit name
      .paths__wrapper
        .paths__item.paths__item--file https:// lorem / ipsum / 21 / index.js
      .arrow-r__container
        %span.arrow-r__inner
          %span.arrow-r__text To context
        %span.arrow-r__arrow>

    .card__code
      %code.code-block
        %table.code-block__table{cellspacing:'0',cellpadding:'0',border:'0'}
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 1
            %td.code-block__cell.code-block__cell--code const getItem = document.getElementById('id');
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 2
            %td.code-block__cell.code-block__cell--code function getItemWidth(item) {
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 3
            %td.code-block__cell.code-block__cell--code &nbsp;&nbsp;&nbsp;&nbsp;let itemWidth = item.outerWidth(true);
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 4
            %td.code-block__cell.code-block__cell--code &nbsp;&nbsp;&nbsp;&nbsp;return itemWidth;
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 5
            %td.code-block__cell.code-block__cell--code }
          %tr.code-block__row
            %td.code-block__cell.code-block__cell--number 6
            %td.code-block__cell.code-block__cell--code console.log( getItemWidth(getItem) );
      %p.code-block__comment
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos ipsam ad, consequatur expedita quam earum placeat at illo sunt iure inventore molestiae sapiente? Quis tempora et, quos saepe cum error est voluptatibus nostrum, eligendi dicta, aut, veritatis similique molestiae. Et ratione aspernatur pariatur error debitis rerum explicabo architecto id.

  .project-card__footer
    %button.orange_filled edit note
    %button.blue note is ok

%section.project-card
  .project-card__header
    .card__title New file without notes
    .project-card__header-info
      %a.user-info{href:'#'}
        .user-info__photo.avatar_wrapper
          %img.user-info__img{src:'images/userpic.jpg', alt:'pic'}
        .user-info__data
          .user-info__name
            Borusik
      .project-card__header-text Created file. November 27, 2015
  .project-card__main
    .paths
      .paths__wrapper
        .paths__item.paths__item--branch master
      .paths__wrapper
        .paths__item.paths__item--commit commit name
      .paths__wrapper
        .paths__item.paths__item--file https:// lorem / ipsum / 21 / index.js
      .arrow-r__container
        %span.arrow-r__inner
          %span.arrow-r__text To context
        %span.arrow-r__arrow>
  .project-card__footer
    %button.orange_filled add note
    %button.blue ignore this


