
.search
  .search__overlay-left
    .search__close
  .search__main
    .search__container
      .search__box
        %span.search__input-options.plus +
        %span.search__input-options in
        %span.search__input-options comments
        %input.search__input{name:"search[q]", placeholder:"SEARCH", type:"search", value: "regular text"}
      %input.search-submit{type: "submit", value:""}
      .search_auto-suggest
        .search__wrapper
          .search__suggest-list
            .search__suggest
              %span piece
            .search__suggest
              %span.target big boobs
            .search__suggest
              %span in
            .search__suggest
              %span comments
            .search__suggest
              %span is god exist?
        .search__options-box
          %span Type
          %span.search__plus +
          %span for additional options

      .search_auto-suggest-plus
        .search__wrapper
          .search__suggest-row
            .search__options
              %span.target in
            .search__description notes, comments, projects,
          .search__suggest-row
            .search__options
              %span from
            .search__description user
          .search__suggest-row
            .search__options
              %span last
            .search__description day, week



    .tabs-menu
      %a.tabs-menu__item.active{href: "#"}
        %span.tabs-menu__text notes
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text projects
          %span.tabs-menu__quantity 15
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text people
          %span.tabs-menu__quantity 378
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text branches and commits
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text files and code
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text direct messages
          %span.tabs-menu__quantity 2
    %section.search-results