%article.search-components
  %section.search-components__code
    .file-code
      .file-code__container.file-container
        %h2.file-block__title.title-h2 Files
        
        .file-container__content.file-code__block
          .file-container__logo
            %a.logo-block{href:'#'}
              .logo-block__pic.logo-block__pic--no-img.colors-border--5{style:'background: transparent url("images/codepen_icon1.png") no-repeat center; background-size: 32px 32px;'} co
              .logo-block__name Codepen
          .file-container__file-path
            .file-code__path
              .file-code__path-wrapper
                .file-code__path-name Propeller / example / css / smoothScroll.js
                .file-code__path-date
                  Dec 2, 2016 at 10:06
            
        
        .file-container__content.file-code__block
          .file-container__logo
            %a.logo-block{href:'#'}
              .logo-block__pic.logo-block__pic--no-img.colors-border--3{style:'background: transparent url("images/codepen_icon1.png") no-repeat center; background-size: 32px 32px;'} sb
              .logo-block__name some block
          .file-container__file-path
            .file-code__path.file-code__path--attached
              .file-code__path-wrapper
                .file-code__path-name infoCodepe
                  %span.file-code__path-exp.colors-bg--1 pdf
                .file-code__path-date
                  Dec 2, 2016 at 10:06
          .file-container__attach-img
      
      
      .file-code__container.code-container
        %h2.code-container__title.title-h2 Code
        
        .code-container__content.file-code__block
          .code-container__head
            %a.logo-block{href:'#'}
              .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'}
              .logo-block__name Codepen
          
          .code-container__file-path
            .file-code__path
              .file-code__path-wrapper
                .file-code__path-name Propeller / example / css / smoothScroll.js
          
          .code-container__content
            %code.code-block
              %table.code-block__table{cellspacing:'0',cellpadding:'0',border:'0'}
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 1
                  %td.code-block__cell.code-block__cell--code const getItem = document.getElementById('id');
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 2
                  %td.code-block__cell.code-block__cell--code function getItemWidth(item) {
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 3
                  %td.code-block__cell.code-block__cell--code &nbsp;&nbsp;&nbsp;&nbsp;let itemWidth = item.outerWidth(true);
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 4
                  %td.code-block__cell.code-block__cell--code &nbsp;&nbsp;&nbsp;&nbsp;return itemWidth;
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 5
                  %td.code-block__cell.code-block__cell--code }
                %tr.code-block__row
                  %td.code-block__cell.code-block__cell--number 6
                  %td.code-block__cell.code-block__cell--code console.log( getItemWidth(getItem) );