%section.search-people
  %h2.title-h2 People
  %ul.search-people__list
    %li.search-people__item
      %a.wrapper-link{href:'#'}
        %span.pro pro
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codeprocodeprocodeprocodeprocodepro
        .search-people__name Boris GrebenschikovGrebenschikovGrebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes

    %li.search-people__item
      %a.wrapper-link{href:'#'}
        .search-people__link
          .avatar_wrapper
            %img{src:'images/userpic.png', alt:''}
        .search-people__nick codepro
        .search-people__name Boris Grebenschikov
        .search-people__bottom
          .search-people__proj 4 projects
          .search-people__nots 689 notes
