%section.search-projects
  %h2.title-h2 Projects
  %ul.search-projects__list
    %li.search-projects__item
      .search-projects__fresh-rate{style: "background-color: #45e79c"}
      .search-projects__type.public public
      .search-projects__main
        .search-projects__title Codepussy
        .search-projects__description There were ample provisions on board? and the cargo was intact. None of those who had. None of those who had. None of those who had. None of those who had. None of those who had. None of those who had.
        .search-projects__user
          %a.search-projects__link{href:'#'}
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-projects__date
            %span.search-projects__day Nov 21, 2016
            %span.search-projects__time 22:50

    %li.search-projects__item
      .search-projects__fresh-rate{style: "background-color: #45e79c"}
      .search-projects__type.private private
      .search-projects__main
        .search-projects__title Long title. There were ample provisions on board? and the cargo There were ample provisions on b
        .search-projects__description Awesome icon set.
        .search-projects__user
          %a.search-projects__link{href:'#'}
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-projects__date
            %span.search-projects__day Nov 21, 2016
            %span.search-projects__time 22:50

    %li.search-projects__item
      .search-projects__fresh-rate{style: "background-color: #45e79c"}
      .search-projects__type.public public
      .search-projects__main
        .search-projects__title Codepussy
        .search-projects__description
        .search-projects__user
          %a.search-projects__link{href:'#'}
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-projects__date
            %span.search-projects__day Nov 21, 2016
            %span.search-projects__time 22:50

    %li.search-projects__item
      .search-projects__fresh-rate{style: "background-color: #45e79c"}
      .search-projects__type.public public
      .search-projects__main
        .search-projects__title Codepussy
        .search-projects__description There were ample provisions on board? and the cargo was intact. None of those who had.
        .search-projects__user
          %a.search-projects__link{href:'#'}
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-projects__date
            %span.search-projects__day Nov 21, 2016
            %span.search-projects__time 22:50