%section.search-notes
  .search-notes__notes
    %h2.title-h2 Notes
    .search-notes__container
      .search-notes__logo.search-notes__logo--code
        %a.logo-block{href:'#'}
          .logo-block__pic.logo-block__pic--no-img.colors-border--5 as
          .logo-block__name asilum
      .search-notes__title.title-h2 New function codepription
      %p.search-notes__content.search-notes__content--gradient
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos ipsam ad, consequatur expedita quam earum placeat at illo sunt iure inventore molestiae sapiente? Quis tempora et, quos saepe cum error est voluptatibus nostrum, eligendi dicta, aut, veritatis similique molestiae. Et ratione aspernatur pariatur error debitis rerum explicabo architecto id.
      .search-notes__button
        %button.icon_button
    
    
    .search-notes__container.bookmarked
      .search-notes__logo.search-notes__logo--commit
        %a.logo-block{href:'#'}
          .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'} co
          .logo-block__name Codepen
      
      .search-notes__title.title-h2 New function codepription
      %p.search-notes__content.search-notes__content--gradient
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos ipsam ad, consequatur expedita quam earum placeat at illo sunt iure inventore molestiae sapiente? Quis tempora et, quos saepe cum error est voluptatibus nostrum, eligendi dicta, aut, veritatis similique molestiae. Et ratione aspernatur pariatur error debitis rerum explicabo architecto id.
        .search-notes__button
          %button.icon_button
    
    .search-notes__container
      .search-notes__logo.search-notes__logo--file
        %a.logo-block{href:'#'}
          .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'} co
          .logo-block__name Codepen
      .search-notes__title.title-h2 New function codepription
      %p.search-notes__content.search-notes__content--gradient
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos ipsam ad, consequatur expedita quam earum placeat at illo sunt iure inventore molestiae sapiente? Quis tempora et, quos saepe cum error est voluptatibus nostrum, eligendi dicta, aut, veritatis similique molestiae. Et ratione aspernatur pariatur error debitis rerum explicabo architecto id.
        .search-notes__button
          %button.icon_button
  
  
  .search-notes__comments
    %h2.title-h2 Comments
    .search-notes__container
      .search-notes__logo.search-notes__logo--branch
        %a.logo-block{href:'#'}
          .logo-block__pic.logo-block__pic--no-img.colors-border--9 ho
          .logo-block__name hotpussy
          
      .search-notes__title.title-h2 New function codepription
  
      .search-notes__content.search-notes__content--gradient
        .add-message.add-message--input
          .add-message__content
            .add-message__photo
              %a.add-message__photo{href:'#'}
                .avatar_wrapper
                  %img.add-message__img(src='images/userpic.png' alt='')
            .add-message__text-container
              .add-message__text
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quos ipsam ad, consequatur expedita quam earum placeat at illo sunt iure inventore molestiae sapiente? Quis tempora et, quos saepe cum error est voluptatibus nostrum, eligendi dicta, aut, veritatis similique molestiae. Et ratione aspernatur pariatur error debitis rerum explicabo architecto id.
      .search-notes__button
        %button.icon_button