
.search
  .search__overlay-left
    .search__close
  .search__main
    .search__container
      .search__input
        %span.search__input-options +
        %span.search__input-options in
        %span.search__input-options comments
        %span. regular text
      .search-submit
    .search_auto-suggest
      .search__wrapper
        .search__suggest-list
          .search__suggest
            %span piece
          .search__suggest
            %span.target big boobs
          .search__suggest
            %span.target in
          .search__suggest
            %span.target comments
          .search__suggest
            %span is god exist?
        .search__description
          .search__description-text notes, comments, projects,
          .search__description-text notes, comments, projects,
          .search__description-text notes, comments, projects,
          .search__description-text notes, comments, projects,
          .search__description-text notes, comments, projects,
      .search__options-box
        %span Type
        %span.search__options +
        %span.search__options in
        %span.search__options from
        %span.search__options last
        %span for additional options
    %span.search__options



    .tabs-menu
      %a.tabs-menu__item.active{href: "#"}
        %span.tabs-menu__text notes
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text projects
          %span.tabs-menu__quantity 15
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text people
          %span.tabs-menu__quantity 378
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text branches and commits
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text files and code
          %span.tabs-menu__quantity 2
      %a.tabs-menu__item{href: "#"}
        %span.tabs-menu__text direct messages
          %span.tabs-menu__quantity 2
    %section.search-results