%section.search-branch
  .search-branch__branch
    %h2.search-branch__title.title-h2 Branches
    .search-branch__container
      .search-branch__logo
        %a.logo-block{href:'#'}
          .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'} co
          .logo-block__name Codepen
          
      .search-branch__content.search-branch__content--branch
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .search-branch__date
          Dec 2, 2016 at 10:06
        
      .search-branch__users
        .users-list
          %ul.users-list__wrapper
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
          .users-list__counter 1
  
  
  
  .search-branch__commit
    %h2.search-branch__title.title-h2 Commits
    .search-branch__container
      .search-branch__logo
        %a.logo-block{href:'#'}
          .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'} co
          .logo-block__name Codepen
    
      .search-branch__content.search-branch__content--commit
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .search-branch__date
          Dec 2, 2016 at 10:06
    
      .search-branch__users
        .users-list
          %ul.users-list__wrapper
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              %a.users-list__link{href:'#'}
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
          .users-list__counter 79
    