%section.search-msg
  %h2.title-h2 Direct messages
  %ul.search-msg__list
    %li.search-msg__item
      %a.wrapper-link{href:'#'}
        .search-msg__header
          %span.search-msg__icon
          .search-msg__link
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-msg__time Today at 8:52
        .search-msg__main
          %h3.search-msg__title Re: You suck
          .search-msg__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida purus sed dignissim blandit. Aliquam eu eleifend justo. Curabitur at leo sodales, efficitur ante id, consequat turpis. Phasellus mauris ex, suscipit eu pretium id, blandit id enim. Quisque efficitur dui ultricies urna accumsan, vitae vehicula augue interdum. Quisque id euismod mi, quis interdum libero.
    %li.search-msg__item
      %a.wrapper-link{href:'#'}
        .search-msg__header
          %span.search-msg__icon
          .search-msg__link
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-msg__time Today at 8:52
        .search-msg__main
          %h3.search-msg__title Long title. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida purus sed dignissim blandit. Aliquam eu eleifend justo. Curabitur at leo so
          .search-msg__text Lorem ipsum
    %li.search-msg__item
      %a.wrapper-link{href:'#'}
        .search-msg__header
          %span.search-msg__icon
          .search-msg__link
            .avatar_wrapper
              %img{src:'images/userpic.png', alt:''}
          %span.search-msg__time Today at 8:52
        .search-msg__main
          %h3.search-msg__title Re:
          .search-msg__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida purus sed dignissim blandit. Aliquam eu eleifend justo. Curabitur at leo sodales, efficitur ante id, consequat turpis. Phasellus mauris ex, suscipit eu pretium id, blandit id enim. Quisque efficitur dui ultricies urna accumsan, vitae vehicula augue interdum. Quisque id euismod mi, quis interdum libero.