.site-components
  .site-components__container
    
    
    // users list
    .users-list.users-list.hide
      .users-list__button 99
      .users-list__container-wrapper
        .users-list__container
          %ul.users-list__wrapper
            %li.users-list__item
              .users-list__link
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
            %li.users-list__item
              .users-list__link
                .avatar_wrapper
                  %img.users-list__img{src:'images/userpic.png', alt:''}
          .users-list__counter 1
        
        
  .site-components__container
    // logo block
    %a.logo-block{href:'#'}
      .logo-block__pic{style:'background: transparent url("images/codepen_icon.png") no-repeat center; background-size: 32px 32px;'} co
      .logo-block__name Codepen
      
  .site-components__container
    // checkbox
    %label.tag-check
      %input.tag-check__input{type:'checkbox', name:'tag-name'}
      .tag-check__use
        
  
  .site-components__container
    // tag name
    %a.tabs-name.tabs-name--title.colors-border--5{href:'#'} details needed

  .site-components__container
    .flex-container
      // Arrow with text
      .arrow-r__container
        %span.arrow-r__inner
          %span.arrow-r__text To context
        %span.arrow-r__arrow>