.site-components

  // users list

  .users-list
    %ul.users-list__wrapper
      %li.users-list__item
        %a.users-list__link{href:'#'}
          .avatar_wrapper
            %img.users-list__img{src:'images/userpic.png', alt:''}

      %li.users-list__item
        %a.users-list__link{href:'#'}
          .avatar_wrapper
            %img.users-list__img{src:'images/userpic.png', alt:''}

      %li.users-list__item
        %a.users-list__link{href:'#'}
          .avatar_wrapper
            %img.users-list__img{src:'images/userpic.png', alt:''}

      %li.users-list__item
        %a.users-list__link{href:'#'}
          .avatar_wrapper
            %img.users-list__img{src:'images/userpic.png', alt:''}

    .users-list__counter
      .users-list__num 79