.site-components
  // use tags start
  .use-tags
    %ul.use-tags__users
      %li.use-tags__user
        %a.use-tags__user-link{href:'#'}
          .avatar_wrapper
            %img.use-tags__user-img{src:'images/userpic.png', alt:''}
      %li.use-tags__user
        %a.use-tags__user-link{href:'#'}
          .avatar_wrapper
            %img.use-tags__user-img{src:'images/userpic.png', alt:''}
      %li.use-tags__user
        %a.use-tags__user-link{href:'#'}
          .avatar_wrapper
            %img.use-tags__user-img{src:'images/userpic.png', alt:''}
      %li.use-tags__user
        %a.use-tags__user-link{href:'#'}
          .avatar_wrapper
            %img.use-tags__user-img{src:'images/userpic.png', alt:''}
    .use-tags__counter
      .use-tags__counter-num 283
      .use-tags__counter-bg
      
      