%section.start-page
  %h1.start-page__title.title-h1 Hi Vladimir
  .start-page__container.start-page__container--step-2
    .start-page__container-left
      .start-page__status Public
      .start-page__project-name.title-h2 Test project
      .start-page__project-desc There were ample provisions on boars, and the cargo was intact. None of those who had.
      .start-page__stats
        .start-page__stats-item.start-page__rate
          .start-page__rate-name Fresh rate
          .start-page__rate-num
            100
            %span %
        .start-page__stats-item.start-page__add
          .start-page__add-container
            %button.start-page__add-plus
            .start-page__add-name Add members
      
    .start-page__container-right
      .start-page__steps-container
        .start-page__steps-head.start-page__steps-head--step-1
          %h2.start-page__title.title-h2 Import from GitHub
          .start-page__desc
            Easily import your file and project info from GitHub. Files will be updated automatically.
        .start-page__steps-head.start-page__steps-head--step-2
          %h2.start-page__title.title-h2 Add teammates
          .start-page__desc
            Add to your team existing Nots members or send ad invitation e-mail to others.
        .start-page__steps-head.start-page__steps-head--step-3
          %h2.start-page__title.title-h2 Stay fresh
          .start-page__desc
            A fresh rate in project or in notes helps you maintain all your comments and descriptions up to date.
            %br
            When changes in code occures the rate decreases.
        .start-page__steps-head.start-page__steps-head--step-4
          %h2.start-page__title.title-h2 Wanna hide a body?
          .start-page__desc
            Public projects are visible to all Nots users.
            %br
            Get pro account to create projects visible only to you and your team.
        
        .start-page__steps-nav
          .start-page__steps-dot
          .start-page__steps-dot
          .start-page__steps-dot
          .start-page__steps-dot
            
        .start-page__steps-controller.start-page__steps-controller--next
          %button.start-page__btn.orange.start-page__btn--next Next
          %button.start-page__btn.transparent-with-border.start-page__btn--skip Skip
        
        .start-page__steps-controller.start-page__steps-controller--start
          %button.start-page__btn.orange.start-page__btn--done Let's start
        
      