%section.tags
  .tags__menu
    %h1.tags__title Tags
    .tags__projects-dropdown

  %section.tags__main
    .tags__item
      %a.tabs-name.tabs-name--color-1{href:'#'} details needed
      %button.tags__edit
      %button.tags__delete
      .tags__users
        %ul.tags__users-list
          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}
        .tags__user-counter
          .tags__user-num 283

    .tags__item
      %a.tabs-name.tabs-name--color-2{href:'#'} WTF
      %button.tags__edit
      %button.tags__delete
      .tags__users
        %ul.tags__users-list
          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}
        .tags__user-counter
          .tags__user-num 283

    .tags__item
      %a.tabs-name.tabs-name--color-5{href:'#'} Approved
      %button.tags__edit
      %button.tags__delete
      .tags__users
        %ul.tags__users-list
          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}

          %li.tags__user
            %a.tags__user-link{href:'#'}
              .avatar_wrapper
                %img.use-tags__user-img{src:'images/userpic.png', alt:''}
        .tags__user-counter
          .tags__user-num 283

    .tags__item.tags__item-add
      .tags__addbtn
      %span.tags__addbtn-text new tag

