%section.tags
  .tags__menu
    %h1.tags__title Tags
    .tags__projects-dropdown

  %section.tags__main
    .tags__item
      %a.tabs-name.tabs-name--color-1{href:'#'} details needed
      %button.tags__edit
      %button.tags__delete
    .tags__item
    .tags__item
