%section.tags
  .tags__menu
    %h1.tags__title Tags
    .tags__projects-dropdown

  %section.tags__main
    .tags__item
      %a.tabs-name.colors-border--1{href:'#'} details needed
      %button.tags__edit
      %button.tags__delete
      .users-list
        %ul.users-list__wrapper
          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

        .users-list__counter
          .users-list__num 283

    .tags__item
      %a.tabs-name.colors-border--2{href:'#'} WTF
      %button.tags__edit
      %button.tags__delete
      .users-list
        %ul.users-list__wrapper
          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

        .users-list__counter
          .users-list__num 5

    .tags__item
      %a.tabs-name.colors-border--9{href:'#'} Approved
      %button.tags__edit
      %button.tags__delete
      .users-list
        %ul.users-list__wrapper
          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

          %li.users-list__item
            %a.users-list__link{href:'#'}
              .avatar_wrapper
                %img.users-list__img{src:'images/userpic.png', alt:''}

        .users-list__counter
          .users-list__num 79

    .tags__item.tags__item-add
      .tags__addbtn
      %span.tags__addbtn-text new tag

