.user__select
  .user__inline
    .user__inline-pic
      %img{src:"images/userpic.png", alt:""}
    %span.user__inline-name Alex-dp
  ,
  .user__inline
    .user__inline-pic
      %img{src:"images/userpic.png", alt:""}
    %span.user__inline-name Alex-dp
  %input.user__input{type:"text"}
.autosuggest
  .autosuggest__user.active
    .autosuggest__user-pic
      %img{src:"images/userpic.png", alt:""}
    %span.autosuggest__user-name alex-dp

  .autosuggest__user
    .autosuggest__user-pic
      %img{src:"images/userpic.png", alt:""}
    %span.autosuggest__user-name valdemar

  .autosuggest__user
    .autosuggest__user-pic
      %img{src:"images/userpic.png", alt:""}
    %span.autosuggest__user-name borusik

  .autosuggest__user
    .autosuggest__user-pic
      %img{src:"images/userpic.png", alt:""}
    %span.autosuggest__user-name zo-zo