.user__select
  %span
    @
    .user__inline
      .user__inline-pic
        %img{src:"images/userpic.png", alt:""}
      %span.user__inline-name Alex-dp
    ,
    .user__inline
      .user__inline-pic
        %img{src:"images/userpic.png", alt:""}
      %span.user__inline-name Alex-dp

    %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  .autosuggest
    .autosuggest__user.active
      .autosuggest__user-pic
        %img{src:"images/userpic.png", alt:""}
      %span.autosuggest__user-name alex-dp

    .autosuggest__user
      .autosuggest__user-pic
        %img{src:"images/userpic.png", alt:""}
      %span.autosuggest__user-name valdemar

    .autosuggest__user
      .autosuggest__user-pic
        %img{src:"images/userpic.png", alt:""}
      %span.autosuggest__user-name borusik

    .autosuggest__user
      .autosuggest__user-pic
        %img{src:"images/userpic.png", alt:""}
      %span.autosuggest__user-name zo-zo