.dialogue-tag
  background-color: $white
  &__head
    padding: 40px 48px
    min-height: 390px

  &__title.title-h2
    margin-bottom: 24px
    color: $black

  &__tags
    margin-bottom: 24px

  &__tag
    display: flex
    align-items: center
    &:not(:last-child)
      margin-bottom: 16px

  &__name
    margin-left: 16px

  &__submit-container
    padding: 24px 48px
    background-color: $black_transparent_rgba_01
    display: flex

  &__plus
    border-radius: 50%
    border: 1px solid $black_transparent_rgba_02
    background-color: transparent
    display: block
    width: 40px
    height: 40px
    position: relative
    left: -8px
    &.icon_button
      &:before
        background: url(../images/Nots_25_Plus.svg) 50% 50% no-repeat
        background-size: 28px 28px
    &-container
      display: flex
      align-items: center
    &-text
      text-transform: uppercase
      color: $black
      font-size: 12px
      margin-left: 8px

  &__set
    display: flex
    align-items: center
    margin-left: 40px
    &-input
      border: 2px solid $black
      border-radius: 4px
      margin-right: 16px
      font-size: 13px
      padding: 3px 8px 4px
      font-weight: 500
      text-transform: uppercase
      &:focus
        outline: none
      @include colors-with-border()
    &-colors
      overflow: hidden
      border-radius: 4px
      display: flex
    &-color
      width: 28px
      height: 28px
      @include colors-with-bg()
    &-label
      display: block
      width: 100%
      height: 100%
      cursor: pointer
      position: relative
    &-radio
      display: none
      &:checked
        & + .dialogue-tag__set-ok::before
          content: ''
          position: absolute
          margin: auto
          top: 0
          right: 0
          bottom: 0
          left: 0
          width: 16px
          height: 16px
          background: url("#{$imgurl}/Nots_24_White_v_big.svg") no-repeat center      
    &-text
      text-transform: uppercase
      font-size: 12px
      color: $black_transparent_rgba_07
      margin-left: 16px
      font-weight: 500

  &__add-btn.orange_filled
    margin-right: 0