.empty-tags
  &__content
    padding: 72px 0
    background-color: $white_transparent_rgba_01
  &__tags
    display: flex
    justify-content: center
    align-items: center
    flex-flow: row wrap
    width: 50%
    margin: 0 auto 32px
    cursor: default
    user-select: none
  &__tag
    margin: 5px
  &__text
    margin-bottom: 48px
  @include empty-text()

  &__button
    text-align: center
    &.hover
      > div
        color: $blue
    &-desc
      text-transform: uppercase
      color: $white
      font-size: 12px
      font-weight: 500

    button
      margin-bottom: 16px