.empty-docs
  &__content
    padding: 56px 0 72px 0
    background-color: $white_transparent_rgba_01
  &__pic
    @include empty-pic('Nots_64_Files.svg')

  &__text
    margin-bottom: 24px
  @include empty-text()

  & button.empty-docs__button.orange
    margin: 0 auto