.search-branch
  margin-bottom: 80px
  .users-list
    margin-top: 4px
    &__container-wrapper
      &::before
        background: linear-gradient(to right, transparent, $light_gray)

  &__branch
    margin-bottom: 40px

  &__container
    padding: 24px 32px 32px
    display: flex

  &__logo
    width: 144px
    margin-right: 40px
    flex-shrink: 0

  &__content
    color: $black
    font-size: 16px
    position: relative
    line-height: 1.2
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    height: 40px
    &::before
      content: ''
      display: block
      position: absolute
      transform: translate(-100%)
      margin: 4px auto auto
      left: -8px
      top: 0
      bottom: 0
      width: 24px
      height: 24px
    &-wrapper
      margin-right: 16px
      margin-top: 6px
    &--commit
      &::before
        background: url("../images/Nots_24_Note_commit.svg") no-repeat center
    &--branch
      &::before
        background: url("../images/Nots_24_Note_branch.svg") no-repeat center

  &__date
    color: $black_transparent_rgba
    font-size: 12px
    font-weight: 300