.file-code

  &__container
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0

  &__block
    padding: 24px 32px 32px

  &__path
    font-size: 16px
    display: flex
    align-items: center
    line-height: 2
    color: $black
    &::before
      padding-right: 8px
      margin-top: 4px
      content: ''
      display: block
      width: 24px
      height: 24px
      flex-shrink: 0
      align-self: flex-start
      background: url("../images/Nots_24_Note_file.svg") no-repeat left
    &-exp
      background-color: $black
      color: $white
      border-radius: 16px
      font-variant: small-caps
      padding: 0 8px 2px
      text-align: center
      // colors
      &.pdf
        background-color: red
      &.other
        background-color: blue
    &-date
      color: $black_transparent_rgba
      font-size: 12px
      font-weight: 300
    &--attached
      &::before
        background: none


.file-container
  &__content
    display: flex
    align-items: center
  &__logo
    margin-top: 0
    align-self: flex-start
    margin-right: 40px
    width: 144px
    flex-shrink: 0
  &__attach-img
    height: 28px
    width: 28px
    background: url("../images/Nots_28-note-code.svg") no-repeat center
    position: relative
    flex-shrink: 0
    align-self: flex-start
    margin-top: 4px
    margin-left: auto

.code-container
  &__content
    display: block

  &__file-path
    padding: 24px 0
    align-items: center