.projects-dropdown
  color: $white
  text-transform: uppercase
  font-size: 12px
  position: absolute
  right: 0
  top: 0
  z-index: 5
  & span
    display: inline-block
    padding-right: 16px
  &__wrapper
    display: inline-block
  &__title
    background: $black
    padding: 0 0 0 12px
    cursor: pointer
    display: flex
    align-items: center
    &:after
      content: url("../images/Nots_24_White_triangle.svg")
      display: inline-block
      width: 24px
      height: 24px
      margin: 8px
      vertical-align: middle
      margin-left: auto
      transition: transform 0.3s
    &.opened:after
      transform: rotate(180deg)
  &__list
    display: inline-block
    background: $black_transparent_rgba_085
    padding: 0 8px
    border-radius: 4px
  &__item
    padding: 4px
    border-radius: 4px
    cursor: pointer
    &:hover
      background: $dark_transparent_rgba_085
  &__pic
    display: inline-block
    width: 32px
    height: 32px
    border-radius: 50%
    vertical-align: middle
    margin-right: 8px
    text-align: center
    line-height: 30px
    overflow: hidden
    img
      width: 100%
  &__container
    position: relative

.projects-dropdown__box
  flex-grow: 1


