.users-list
  margin-left: auto
  position: relative
  min-width: 192px
  display: flex
  justify-content: flex-end
  height: 100%
  align-items: center

  &.hide
    .users-list
      &__container-wrapper
        &::before
          display: none
      &__wrapper
        max-width: 128px
        overflow: hidden

  &__button
    width: 24px
    height: 24px
    border: 1px solid $black_transparent_rgba
    border-radius: 50%
    margin-right: auto
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center

  &__container-wrapper
    background-color: $white
    position: absolute
    margin: auto
    top: 0
    right: 0
    bottom: 0
    display: flex
    transition: background-color .3s
    align-items: center
    &::before
      content: ''
      display: block
      width: 100px
      transform: translate(-100%)
      position: absolute
      margin: auto
      left: 0
      top: 0
      bottom: 0
      background: linear-gradient(to right, transparent, $white)
      transition: background .3s
  &__container
    display: flex
    justify-content: flex-end

  &__wrapper
    display: flex
    justify-content: flex-end
  &__item
    margin-right: 8px
  &:last-child
    margin-right: 16px
  &__link
    @include userpic(24px)
  
  &__counter
    height: 26px
    position: relative
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    padding: 2px 8px 0
    &::before
      content: ''
      display: block
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      left: 0
      background: url("../images/Nots_28_Note_yellow.svg") no-repeat left center
      background-size: auto 100%
      width: 16px
      height: 26px
      z-index: -1
    &::after
      content: ''
      display: block
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      right: 0
      left: 8px
      background-color: #ffda8f
      z-index: -1
      border-radius: 4px
