%section.add-files
  .add-files__container
    .add-files__main.add-files__main--drag.add-files__main--added
      .add-files__wrapper
        .add-files__title.add-files__title--file
          Drag'n'drop images here or upload
        .add-files__paths
          %button.add-files__browse.orange Browse
          %button.add-files__google.orange Google drive
      .add-files__files-container.add-files__files-container--file
        .add-files__files-new
          %span.add-files__ext.doc-ext.docx docx
          .add-files__name Techspec
        .add-files__files-new
          %span.add-files__ext.doc-ext.pdf pdf
          .add-files__name Info
        .add-files__files-new.
          %span.add-files__ext.doc-ext.xls xls
          .add-files__name Key revenue
        .add-files__files-new
          %span.add-files__ext.doc-ext.xls xls
          .add-files__name Key market info name
  
    .add-files__added
    .add-files__btn-container
      %button.add-files__btn.add-files__btn--add.orange_filled Attach file
      %button.add-files__btn.add-files__btn--cancel.transparent Cancel