%section.add-files
  .add-files__container
    .add-files__main
      .add-files__wrapper
        .add-files__title.add-files__title--pic
          Drag'n'drop images here or upload
        .add-files__paths
          %button.add-files__browse.orange Browse
          %input.add-files__input{type:'text', placeholder:'Or paste images URL here'}
          %button.add-files__plus.icon_button
      .add-files__files-container
        .add-files__files-new
          .add-files__name Key market
        .add-files__files-new
          .add-files__name info name
        .add-files__files-new
          .add-files__name Key market
        .add-files__files-new
          .add-files__name Key
        .add-files__files-new
          .add-files__name Key name
          
    .add-files__added
    .add-files__btn-container
      %button.add-files__btn.add-files__btn--add.orange_filled Insert images
      %button.add-files__btn.add-files__btn--cancel.transparent Cancel